:root {
    --light-tile-bg: hsl(205, 42%, 69%);
    --dark-tile-bg: hsl(205, 35%, 14%);
    --bg-color: hsl(205, 0%, 81%);
    --tile-size: 100px;
    user-select: none;
}

body {
    margin: 1rem;
    padding: 1em;
    background-color: var(--bg-color);
}

#board {
    display: grid;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
}

.tile {
    font-size: 450%;
    text-align: center;
    background-color: var(--dark-tile-bg);
}
.tile:nth-child(odd) {
    background-color: var(--light-tile-bg);
}

.white {
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black,
        -2px 2px 0 black, 2px 0 0 black, 0 -2px 0 black, -2px 0 0 black,
        0 2px 0 black;
    color: hsl(0, 0%, 100%);
}

.odd {
    background-color: var(--light-tile-bg);
}

.odd:nth-child(odd) {
    background-color: var(--dark-tile-bg);
}

.black {
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white,
        -1px 1px 0 white;
    color: hsl(0, 0%, 0%);
}
